@import url('https://fonts.cdnfonts.com/css/forma-djr-banner');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Forma DJR Banner', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

:root {
    --theme: #2970ff;
    --orange: #E94724;
    --green: #30A981;
    --white: #FFFFFF;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --padding: 2.813rem 6.25rem 2.813rem 4.375rem;
}

body {
    background-color: var(--white);
}

.orangeText {
    color: var(--orange);
}

.titles {
    font-weight: 700;
    font-size: 3rem;
    width: max-content;
    z-index: 1;
}

@media (min-width: 1200px) and (max-width: 1380px) {
    * {
        font-size: 1.075rem;
    }

    :root {
        --padding: 2.5rem 4.75rem;
    }

}

@media (min-width: 1070px) and (max-width:1216px) {
    * {
        font-size: 1.025rem;
    }

    :root {
        --padding: 2.25rem 4.313rem;
    }

    .titles {
        font-size: 2.8rem;
    }
}

@media (min-width: 850px) and (max-width:1069px) {
    * {
        font-size: 1rem;
    }

    :root {
        --padding: 2rem 3.3rem;
    }

    .titles {
        font-size: 2.8rem;
    }
}

@media (min-width: 650px) and (max-width:849px) {
    * {
        font-size: 0.9rem;
    }

    :root {
        --padding: 1.4rem 2.2rem;
    }

    .titles {
        font-size: 2.5rem;
    }
}

@media (max-width:649px) {
    * {
        font-size: 0.9rem;
    }

    :root {
        --padding: 1.4rem 2.2rem;
    }

    .titles {
        font-size: 2rem;
    }
}